.env

# binary file not required for production, production instance/computer should build by itself
main.exe

# ignoring intellij idea
# when using intellij idea or GoLand, environment variable could be create by UI configurations
.idea

# personal bash script, contain setup .env / other developer recommended to setup this personally
# current project contains start.bashrc, setup.bashrc
# example: source ./setup.bashrc (to setup this project required variable/config)
setup.bashrc

# VS code settings
# specifying environment variable for VSCode example: "go.toolsEnvVars": {MODE: "prod"}
# When using .vscode file, you can use .vscode built in run command button without worrying required setup such as environment variable
.vscode