.env

# binary file not required for production, production instance/computer should build by itself
main.exe

# ignoring intellij idea
# when using intellij idea or GoLand, environment variable could be create by UI configurations
.idea

# personal bash script, contain setup .env / other developer recommended to setup this personally
# example: source ./setup.bash
setup.bash

# VS code settings
# specifying environment variable for VSCode example: "go.toolsEnvVars": {MODE: "prod"}
.vscode